@import '../../../@theme/styles/themes';

@include nb-install-component() {
    .qr-description{
        width: 50vw;
        max-width: 450px;
        text-align: center;
    }

    .action-buttons > button:not(:last-child) {
        margin-right: 1rem;
    }
}